*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.font{    
    font-family: 'Bebas Neue', "cursive";
}

.ocult{
    display: none;
}


.faixa{
    height: 5vh;
    background-color: #535151;
}

header{
    font-size: 1.2em;
    background-color: #EFEFEF;
}

.btnNav{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

/* hover navbar */

.btnNav::before{
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;

    background-color: #493131;
    z-index: -1;
}

.efect::before{
    width: 0;
    top: 0;
    left: 0;
}

.efect:hover::before{
    width: 100%;
}

/*  */

button{
    border: none;
}

.title{
    font-size: 4rem;
}

.login {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(45deg, #fa8c8c,rgb(231, 84, 84),#fa8c8c);
}

.cursor{
    cursor: pointer;
}

.cardLogCad{
    height: auto;
    border-radius: 5%;
}

.exit{
    position: absolute;
    top: 5vh;
    left: 3vw;  
    height: 5vh;
    width: 2vw;
    cursor: pointer; 
}

footer{
    height: auto;
    background-color: #535151;
    font-size: 1.2em;
}

li{
    list-style-type: none;
}

.png{
    height: 5vh;
    background-color: #535151;
}

a{
    text-decoration: none;
}

.ofert_email{
    border: none;
    height: 6vh;
    background-color: #f7cfcf;
    color: rgba(20, 4, 4, 0.623);
    border-radius: 5px;
    padding-left: 1vw;
}

.ofert_email:focus{
    outline: 0;
}

.register{
    height: 6vh;
    color: white;
    border-radius: 5px;
    font-size: 1.2em;
}


/* meu perfil */

.logo{
    width: 13vw;
}

.fotoPerfilBarra{
    height: 7.5vh;
    width: 3.5vw;
    border-radius: 50%;
    cursor: pointer;
}

.fotoPerfil{
    height: 20vh;
    width: 10vw;
    border-radius: 50%;
    cursor: pointer;
}

.gambi{
    height: 40Vh;
}

.bg-perfil{
    background-image: linear-gradient(45deg, rgb(202, 202, 202),rgb(254, 255, 255),rgb(202, 202, 202));
}

.altura{
    height: 50vh;
}

.input_dados_perfil{
    border: none;
    box-shadow: none;
}

.input_dados_perfil:focus{
    outline: 0;
}

.radius-0{
    border-radius: 0;
}

