*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #EFEFEF;
    font-family: 'Bebas Neue', "cursive";
}

header{
    font-size: 1.4em;
}

.btnNav{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

/* hover navbar */

.btnNav::before{
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;

    background-color: #f7cfcf;
    z-index: -1;
}

.efect::before{
    width: 0;
    top: 0;
    left: 0;
}

.efect:hover::before{
    width: 100%;
}

/*  */

.faixa{
    height: 5vh;
    background-color: #535151;
}

button{
    border: none;
}

main{
    height: 40vh;
    background-color: white;
}

footer{
    height: auto;
    background-color: #535151;
    font-size: 1.2em;
}

li{
    list-style-type: none;
}

.png{
    height: 5vh;
    background-color: #535151;
}

a{
    text-decoration: none;
}

.ofert_email{
    border: none;
    height: 5vh;
    width: 30vw;
    background-color: #f7cfcf;
    text-align: center;
    color: rgba(20, 4, 4, 0.623);
    border-radius: 5px;
}

.register{
    height: 5vh;
    background-color: #ff002bfd;
    width: 30vw;
    color: white;
    border-radius: 5px;
}